@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.scroll {
  overflow: hidden;
}

.wrapper {
  margin: 0 auto;
  max-width: 1920px;
}

ul li:hover {
  cursor: pointer;
}

@media (max-width: 1465px) {
  .wrapper-header {
    margin: 0 15px;
  }
}
@font-face {
  font-family: "Euclid Circular A";
  src: url("/task/assets/fonts/Euclid Circular A Regular.ttf");
}
@font-face {
  font-family: "Rubik Mono One";
  src: url("/task/assets/fonts/RubikOne-Regular.ttf");
}
.wrapper-news_info {
  padding-top: 153px;
  display: flex;
  justify-content: space-between;
  max-width: 1426px;
  margin: 0 auto;
}

.wrapper-news_name {
  padding: 20px 0 0 13px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 59px;
  color: #292d32;
}

.wrapper-news_expl {
  padding: 25px 0 0 15px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  color: #838383;
  max-width: 721px;
}

.wrapper-news_info .show {
  align-items: center;
  height: 88px;
}
.wrapper-news_info .show .button-text {
  padding-top: 25px;
  padding-right: 17px;
}
.wrapper-news_info .show .show_button {
  padding-top: 27px;
  margin-right: 13px;
}

.wrapper-news-layout {
  max-width: 1424px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 48px;
}

.wrapper-news_card {
  position: relative;
  width: 463px;
  height: 408px;
}

.wrapper-news_img {
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 440px;
  filter: drop-shadow(0px 40px 80px rgba(0, 0, 0, 0.05));
}

.card1 {
  background-image: url("/task/assets/imgs/Card1.png");
}

.card2 {
  background-image: url("/task/assets/imgs/Card2.png");
  background-position: 46% 49%;
}

.card3 {
  background-image: url("/task/assets/imgs/Card3.png");
  background-position: 44% 46%;
}

.card4 {
  background-image: url("/task/assets/imgs/Card4.png");
  background-position: 49% 42%;
}

.card5 {
  background-image: url("/task/assets/imgs/Card5.png");
  background-position: 48% 42%;
}

.card6 {
  background-image: url("/task/assets/imgs/Card6.png");
  background-position: 46% 42%;
}

.wrapper-news_data {
  position: absolute;
  width: 50px;
  height: 97px;
  background-color: white;
  border-radius: 15px;
  right: -11px;
  top: 86px;
  filter: drop-shadow(0px 40px 80px rgba(0, 0, 0, 0.05));
}

.wrapper-news_show {
  padding-top: 264px;
  padding-left: 42px;
}

.wrapper-news_num {
  padding-top: 24px;
  padding-bottom: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #292d32;
}

.wrapper-news_month {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  color: #292d32;
}

.wrapper-news_block {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.wrapper-news_title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 130%;
  color: #292d32;
  max-width: 200px;
}

.wrapper-news_play {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #292d32;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3px;
  margin-right: 50px;
}
.wrapper-news_play:hover {
  cursor: pointer;
}

.wrapper-news_text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #292d32;
}

.wrapper-news_card:nth-child(4) .wrapper-news_img .wrapper-news_data,
.wrapper-news_card:nth-child(5) .wrapper-news_img .wrapper-news_data,
.wrapper-news_card:nth-child(6) .wrapper-news_img .wrapper-news_data {
  top: 82px;
  right: -12px;
}
.wrapper-news_card:nth-child(4) .wrapper-news_img .wrapper-news_show,
.wrapper-news_card:nth-child(5) .wrapper-news_img .wrapper-news_show,
.wrapper-news_card:nth-child(6) .wrapper-news_img .wrapper-news_show {
  padding-top: 260px;
}

@media (max-width: 935px) {
  .wrapper-news_name {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    color: #292d32;
    padding: 21px 0 0 15px;
  }
  .wrapper-news_expl {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 150%;
    /* or 22px */
    padding: 21px 0 0 16px;
    /* Unnamed Color */
    color: #838383;
  }
  .wrapper-news_info {
    display: block;
    padding-top: 100px;
  }
  .wrapper-news_info .show {
    flex-direction: row-reverse;
    justify-content: start;
    height: 80px;
    padding-left: 16px;
  }
  .wrapper-news-layout {
    justify-content: center;
    padding-top: 28px;
  }
  .wrapper-news_img {
    height: 100%;
    width: 345px;
  }
  .wrapper-news_show {
    padding-top: 177px;
    padding-left: 30px;
  }
  .wrapper-news_card {
    display: flex;
    justify-content: center;
    margin-left: -19px;
    height: 304px;
    margin-bottom: 10px;
  }
  .card1 {
    background-image: url("/task/assets/imgs/Card11.png");
    margin-bottom: 20px;
  }
  .card2 {
    background-image: url("/task/assets/imgs/Card22.png");
    background-position: 46% 49%;
  }
  .card3 {
    background-image: url("/task/assets/imgs/Card33.png");
    background-position: 44% 46%;
  }
  .card4 {
    display: none;
  }
  .card5 {
    display: none;
  }
  .card6 {
    display: none;
  }
  .wrapper-news_title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 100%;
    /* or 25px */
    color: #292d32;
  }
  .wrapper-news_text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    /* or 21px */
    color: #292d32;
  }
  .wrapper-news_play {
    width: 33px;
    height: 33px;
    margin-top: 0px;
    margin-right: 44px;
  }
  .wrapper-news_data {
    width: 39.41px;
    height: 76.06px;
    right: -10px;
    top: 59px;
  }
  .wrapper-news_num {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 13px;
    text-align: center;
    padding-bottom: 6px;
    color: #292d32;
  }
  .wrapper-news_month {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 11px;
    text-align: center;
    padding-left: 5px;
    color: #292d32;
    width: 30px;
    white-space: nowrap;
    overflow: hidden;
  }
  .wrapper-news {
    padding-bottom: 103px;
  }
}
.wrapper-header {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 27px 0 22px 0;
  max-width: 1400px;
}

.header-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  padding-right: 60px;
}

.header-nav {
  padding-right: 48px;
  width: 536px;
}
.header-nav ul {
  padding-bottom: 3px;
  display: flex;
  justify-content: space-between;
}
.header-nav ul li {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 17.58px;
  text-transform: uppercase;
  color: #292d32;
  list-style: none;
}
.header-nav ul li:hover {
  cursor: pointer;
}

.header-sprite {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 286px;
  align-items: center;
}
.header-sprite_icon {
  height: 55px;
}
.header-sprite_icon:hover {
  cursor: pointer;
}

.basket-count {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  position: absolute;
  width: 16px;
  height: 16px;
  background: #48a4eb;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  color: white;
  right: 0;
  top: 9px;
}

.menu-btn {
  display: none;
}

.menu-btn {
  margin-top: -7px;
  position: relative;
  z-index: 20;
  overflow: hidden;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background: #f9f9f9;
}

.menu-btn span {
  width: 18px;
  height: 2px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #292d32;
  transition: all 0.5s;
}

.menu-btn span:nth-of-type(1) {
  top: calc(58% - 5px);
}

.menu-btn span:nth-of-type(2) {
  top: calc(41% - 5px);
}

.menu-btn span:nth-of-type(3) {
  top: calc(52% + 5px);
}

.header-search {
  padding-top: 2px;
}

.menu-btn:hover {
  cursor: pointer;
}

.header-sprite_icon:hover .down_menu {
  display: block;
  overflow: visible;
}

.down_menu {
  display: none;
  top: 56px;
  position: absolute;
  z-index: 10;
  width: 405px;
  border-radius: 20px;
  right: 63px;
  filter: drop-shadow(0px 14px 75px rgba(0, 0, 0, 0.13)) drop-shadow(0px 1.75302px 9.39116px rgba(0, 0, 0, 0.065));
}

.invisible_block {
  height: 40px;
  background: rgba(0, 0, 0, 0);
}

.down_menu::before {
  content: "";
  position: absolute;
  top: 18px;
  left: 196px;
  border: 11px solid transparent;
  border-bottom: 11px solid white;
}

.down_menu_logo_block {
  border-radius: 20px 20px 0px 0px;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 31.49px 0 22px 30px;
}
.down_menu_logo_block .down_menu_icon {
  padding-right: 20px;
}

.header-sprite_icon_name {
  display: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #000000;
}

.submenu {
  border-radius: 0px 0px 20px 20px;
  background-color: white;
}
.submenu li {
  list-style: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #000000;
  padding: 20px 40px 20px 30px;
  border-top: 1px solid #f2f2f2;
}

.shadow::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 105%;
  top: 100px;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  z-index: 1;
}

.close span:nth-of-type(1) {
  display: none;
}

.close span:nth-of-type(2) {
  top: calc(50% - 2px);
  transform: rotate(40deg);
  background: #292d32;
  position: absolute;
  z-index: 10;
  left: 30%;
}

.close span:nth-of-type(3) {
  top: calc(46% + 0px);
  transform: rotate(140deg);
  background: #292d32;
  position: absolute;
  left: 30%;
}

@keyframes ani {
  0% {
    transform: translateY(-150%);
  }
  100% {
    transform: translateY(0%);
  }
}
@media (max-width: 1100px) {
  .header-nav {
    display: none;
    animation: ani 1.3s forwards;
    position: absolute;
    z-index: 10;
    top: 100px;
    left: 0;
    background-color: white;
    width: 100%;
  }
  .header-nav ul {
    padding: 32px 0 39px 10px;
    display: block;
    padding-left: 10px;
    min-width: 0;
  }
  .header-nav ul li {
    padding: 23px 0;
    padding-left: 29px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    color: #292d32;
  }
  .menu-btn {
    display: block;
  }
  .basket-count {
    right: 61px;
    top: 6px;
  }
}
@media (max-width: 520px) {
  .header-sprite_icon img {
    width: 46px;
    height: 46px;
  }
  .header-nav {
    top: 89px;
  }
  .basket-count {
    right: 61px;
    top: 6px;
  }
  .wrapper-header {
    padding: 15px 0 11px 0;
  }
  .header-logo {
    padding-right: 67px;
  }
  .header-logo img {
    width: 60px;
    height: 60px;
  }
  .header-sprite {
    width: 168px;
    padding-top: 4px;
  }
  .header-sprite_icon:nth-child(3),
  .header-sprite_icon:nth-child(2) {
    display: none;
  }
}
.wrapper-preview {
  background-color: #ffffff;
  display: flex;
  justify-content: end;
}

.preview-review {
  background: #f2f2f2;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: end;
}

.review-container {
  max-width: 920px;
  display: flex;
  justify-content: space-between;
}

.preview-scroll {
  padding-right: 104px;
  padding-top: 25.4%;
  text-align: center;
  width: 26px;
}

.preview-price {
  background-image: url("/task/assets/imgs/image 23.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 692px;
  background-color: #f9f9f9;
  height: 100%;
}

.preview-dell {
  position: absolute;
  top: 11.2%;
  left: 17%;
  font-family: "Rubik Mono One";
  font-style: normal;
  font-weight: 400;
  font-size: 289px;
  line-height: 92.69%;
  text-transform: uppercase;
  background: linear-gradient(0deg, #eeeeee -45.37%, rgba(238, 238, 238, 0) 95.17%), linear-gradient(89.91deg, rgba(255, 255, 255, 0.85) 11.75%, rgba(255, 255, 255, 0) 162.35%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.preview-scroll_text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 23px;
  color: #838383;
  writing-mode: tb-rl;
  transform: rotate(180deg);
  padding-top: 16px;
}

.goods-describe {
  z-index: 9;
  padding-top: 253px;
  padding-right: 9px;
}

.new-goods {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  color: #838383;
  padding-bottom: 15px;
}

.text-view {
  max-width: 396px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 59px;
  margin-bottom: 60px;
  color: #292d32;
}

.show {
  display: flex;
  align-items: center;
}

.show_button {
  margin-right: 12px;
}
.show_button img:hover {
  cursor: pointer;
}

.button-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #292d32;
}

.slider-arrow:hover {
  cursor: pointer;
}

.slider {
  z-index: 1;
  padding-top: 74px;
  padding-bottom: 50px;
  padding-right: 57px;
}

.slider-imgs {
  padding-right: 60px;
}

.slider-dots {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 69px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9px;
  padding-right: 40px;
  right: 0;
  top: 74%;
}

.dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #d0d0d0;
}

.current-dot {
  width: 9px;
  height: 9px;
  background: #292d32;
}

.preview-price_container {
  padding: 321px 0 64px 40px;
  max-width: 181px;
  margin-bottom: 95px;
}

.preview-price_text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 32px;
  color: #292d32;
  margin-bottom: 81px;
}

.arrow2 {
  display: none;
}

@media (max-width: 1465px) {
  .preview-scroll {
    display: none;
  }
  .goods-describe {
    padding-left: 15px;
  }
  .preview-dell {
    font-size: 200px;
  }
}
@media (max-width: 1380px) {
  .wrapper-preview {
    display: block;
  }
  .goods-describe {
    position: relative;
    padding-top: 130px;
  }
  .preview-dell {
    top: 11px;
    left: 25px;
  }
  .text-view {
    margin-bottom: 28px;
  }
  .preview-review {
    display: block;
  }
  .preview-price {
    width: auto;
    background-image: url("/task/assets/imgs/image 23 (2).png");
    background-position: 97% 52%;
    background-size: 255px 168px;
    height: 196px;
    width: 100%;
  }
  .slider {
    display: grid;
    justify-content: center;
    padding-top: 5px;
  }
  .slider-imgs {
    padding-right: 0;
  }
  .slider-navigation {
    display: flex;
    justify-content: right;
    align-items: center;
    margin: -38px -10px 0 0;
  }
  .arrow1 {
    display: none;
  }
  .arrow2 {
    display: block;
  }
  .preview-price_container {
    padding: 0 0 0 0;
  }
  .preview-price_text {
    margin-bottom: 0;
  }
  .slider-dots {
    position: inherit;
    top: auto;
    bottom: 25px;
    width: 56px;
  }
  .dot {
    width: 3px;
    height: 3px;
  }
  .current-dot {
    width: 5px;
    height: 5px;
  }
  .preview-price_text {
    padding: 59px 0 0 15px;
    max-width: 145px;
  }
}
@media (max-width: 800px) {
  .slider-imgs img {
    max-width: 327px;
  }
  .goods-describe {
    padding-top: 80px;
  }
  .preview-price_text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    /* or 26px */
    color: #292d32;
  }
  .preview-dell {
    font-size: 110px;
  }
  .new-goods {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 133.69%;
    color: #838383;
    padding-bottom: 5px;
  }
  .text-view {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    color: #292d32;
    max-width: 240px;
  }
  .show_button img {
    max-width: 45px;
  }
  .slider {
    padding-bottom: 10px;
  }
  .slider {
    padding-right: 0px;
  }
}
.wrapper-goods {
  max-width: 1400px;
  padding-top: 163px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 140px;
}

.card-goods {
  width: 440px;
  background: #f2f2f2;
  border-radius: 20px;
  margin-bottom: 40px;
}

.card-goods:nth-child(2n+1) {
  background: #f9f9f9;
}

.card-goods:nth-child(1) {
  background-color: white;
}

.goods-img {
  display: flex;
  padding-left: 40px;
  padding-top: 40px;
  position: relative;
}

.goods_icon {
  position: absolute;
}

.goods_icon_lap {
  top: -10px;
  right: 13px;
}

.goods-info {
  padding-left: 40px;
  padding-bottom: 40px;
}

.goods-info_lap,
.goods-info_comp,
.goods-info_serv,
.goods-info_dell,
.goods-info_EMC {
  padding-top: 186px;
}

.goods_icon_comp {
  top: -21px;
  right: 41px;
}

.goods-icon_serv {
  top: 81px;
  right: 27px;
}

.goods-icon_dell {
  top: 59px;
  right: 57px;
}

.goods-icon_EMC {
  top: 38px;
  right: 30px;
}

.card:hover {
  cursor: pointer;
}

.card-name_review {
  max-width: 388px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 50px;
  color: #292d32;
  padding-bottom: 30px;
}

.card-name_describe {
  max-width: 368px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  color: #838383;
  padding-bottom: 45px;
}

.count_goods {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  font-size: 25px;
  line-height: 38px;
  color: #292d32;
}

.goods-amout {
  padding-bottom: 5px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  color: #838383;
}

.goods-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 38px;
  color: #292d32;
}

@media (max-width: 1480px) {
  .wrapper-goods {
    justify-content: space-around;
  }
}
@media (max-width: 879px) {
  .wrapper-goods {
    padding-top: 120px;
  }
  .goods-img {
    padding-left: 20px;
    padding-top: 20px;
  }
  .goods_icon_lap {
    top: 15px;
    right: 22px;
  }
  .goods-info {
    padding-left: 20px;
    padding-bottom: 0px;
  }
  .goods-info_lap {
    padding-top: 158px;
  }
  .goods_icon_comp {
    top: 10px;
    right: 22px;
  }
  .card-goods:nth-child(1) {
    margin-bottom: 36px;
  }
  .card-goods {
    margin-bottom: 20px;
    border-radius: 10px;
  }
  .card-goods:nth-child(2n+1) {
    background: #eeeeee;
  }
  .card-goods:nth-child(1) {
    background-color: white;
  }
  .card-name_review {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    color: #292d32;
    max-width: 240px;
    padding-bottom: 20px;
  }
  .card-name_describe {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 22px;
    color: #838383;
    max-width: 340px;
    padding-bottom: 32px;
  }
  .card-goods {
    width: 345px;
  }
  .goods-info_comp {
    padding-top: 169px;
    padding-bottom: 6px;
  }
  .goods_icon img {
    max-width: 302px;
  }
  .goods-icon_serv {
    top: 63px;
    right: 21px;
  }
  .goods-icon_serv img {
    max-width: 292px;
  }
  .goods-info_serv {
    padding-top: 170px;
    padding-bottom: 3px;
  }
  .goods-icon_dell {
    top: 47px;
    right: 45px;
  }
  .goods-icon_dell img {
    max-width: 253px;
  }
  .goods-info_dell {
    padding-top: 170px;
    padding-bottom: 3px;
  }
  .goods-icon_EMC {
    top: 31px;
    right: 23px;
  }
  .goods-icon_EMC img {
    max-width: 254px;
  }
  .goods-info_EMC {
    padding-top: 170px;
    padding-bottom: 6px;
  }
  .count_goods {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
    line-height: 150%;
    color: #292d32;
  }
  .goods-amout {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 133.69%;
    color: #838383;
    padding-bottom: 0px;
  }
  .goods-name {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #292d32;
    padding-bottom: 17px;
  }
  .goods_icon_comp img {
    max-width: 264px;
  }
  .wrapper-goods {
    padding-bottom: 102px;
  }
}
.wrapper-describes {
  background: #f2f2f2;
}

.describes-info {
  display: flex;
  /*  justify-content: space-between; */
  align-items: center;
}

.describes-view {
  position: relative;
  display: flex;
}

.slider-container {
  /* display: flex; */
  max-width: 560px;
  overflow: hidden;
  /* display: flex;
   */
}

.slider-imgs {
  display: flex;
  transition: all ease 1s;
}

.text-quality {
  font-family: "Rubik Mono One";
  font-style: normal;
  font-weight: 400;
  font-size: 187px;
  line-height: 173px;
  text-transform: uppercase;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  opacity: 0.7;
  /* letter-spacing: -15px; */
  padding-top: 152px;
  max-width: 897px;
}

.describes-icon {
  position: absolute;
  top: 87px;
  right: -4px;
}

.describes_expl {
  padding-top: 135px;
  padding-left: 77px;
}

.describes_advantages {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 50px;
  color: #292d32;
  /* margin-bottom: 76px; */
}

.describes_optimization {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #838383;
  max-width: 518px;
  padding-top: 37px;
  padding-bottom: 41px;
}

.describes-container_cards {
  max-width: 1401px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 129px;
  padding-bottom: 46px;
}

.describes_card {
  max-width: 330px;
  background-repeat: no-repeat;
  contain: content;
}

.describes_card_first {
  background-image: url("/task/assets/imgs/Frame 30.png");
}

.describes_card_second {
  background-image: url("/task/assets/imgs/Frame 31.png");
}

.describes_card_third {
  background-image: url("/task/assets/imgs/Frame 32.png");
}

.describes_card_third {
  background-image: url("/task/assets/imgs/Frame 33.png");
}

.describes_card_fourth {
  background-image: url("/task/assets/imgs/Frame 33.png");
}

.describes_name {
  font-family: "Euclid Circular A";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  color: #ffffff;
  padding-bottom: 13px;
  letter-spacing: 0.2px;
}

.describe_expl {
  font-family: "Euclid Circular A";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #b7b7b7;
  max-width: 276px;
  padding: 0 23px 34px 0;
}

.describe_card-container {
  padding: 30px 0 0 31px;
}

.describes_icon {
  width: 70px;
  height: 70px;
  background: #343a41;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}
.describes_icon img {
  width: 36.11px;
  height: 36.11px;
}

.describes_name_card {
  max-width: 203px;
}

@media (max-width: 1500px) {
  .describes-info {
    flex-wrap: wrap-reverse;
    justify-content: center;
    /* padding: 0 15px; */
  }
  .describe_card-container {
    margin-bottom: 20px;
  }
  .describes-container_cards {
    justify-content: space-around;
  }
}
@media (max-width: 950px) {
  .describes_advantages {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    color: #292d32;
  }
  .slider-container {
    max-width: 330px;
  }
  .describes_optimization {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    max-width: 300px;
    color: #838383;
    padding-top: 22px;
    padding-bottom: 30px;
  }
  .describes-info {
    justify-content: start;
  }
  .describes-icon {
    top: -60px;
    right: 14px;
  }
  .describes-icon img {
    max-width: 283px;
  }
  .text-quality {
    font-size: 71px;
    padding-top: 26px;
    line-height: 67px;
    padding-left: 11px;
  }
  .describes_expl {
    padding-top: 99px;
    padding-left: 15px;
  }
  .describes-container_cards {
    margin-top: 16px;
    padding-bottom: 104px;
  }
  .describes_name_card::before {
    content: "У нас   ";
  }
  .describes_name {
    font-family: "Euclid Circular A";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    padding-bottom: 9px;
    max-width: 281px;
  }
  .describes_name_card {
    max-width: 220px;
  }
  .describe_expl {
    font-family: "Euclid Circular A";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    padding: 0 23px 16px 0;
    color: #b7b7b7;
    max-width: 300px;
  }
  .describes_icon {
    max-width: 50px;
    max-height: 50px;
    margin-bottom: 16px;
  }
  .describes_card {
    margin-bottom: 20px;
    max-width: 345px;
    border-radius: 10px;
  }
  .describes_card {
    width: 345px;
  }
  .describes_card {
    background-image: url("/task/assets/imgs/Frame 44.png");
  }
  .describes_card_fourth {
    padding-bottom: 43px;
  }
  .describe_card-container {
    margin-bottom: 0px;
    padding: 14px 0 0 16px;
  }
  .describes_icon img {
    width: 31px;
    height: 31px;
  }
  .wrapper-news_card:nth-child(4),
  .wrapper-news_card:nth-child(5),
  .wrapper-news_card:nth-child(6) {
    display: none;
  }
}
.wrapper-contacts {
  position: relative;
}

.wrapper-contacts_white {
  background: white;
  height: 501px;
}

.wrapper-contacts_gray {
  background: linear-gradient(0deg, #eeeeee, #eeeeee), linear-gradient(0deg, rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.42)), url(.jpg);
}

.wrapper-contacts_gray_text {
  padding-top: 184px;
  padding-bottom: 21px;
  font-family: "Rubik Mono One";
  font-style: normal;
  font-weight: 400;
  font-size: 255px;
  line-height: 92.69%;
  /* or 236px */
  text-transform: uppercase;
  background: linear-gradient(0deg, #eeeeee -45.37%, rgba(238, 238, 238, 0) 95.17%), linear-gradient(89.91deg, rgba(255, 255, 255, 0.85) 11.75%, rgba(255, 255, 255, 0) 162.35%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  opacity: 0.6;
}

.contacts-our {
  border-radius: 20px 0px 0px 20px;
  background: #f9f9f9;
  padding-bottom: 107px;
  padding-right: 170px;
}

.contacts-layout {
  top: 154px;
  left: 260px;
  position: absolute;
}

.contacts-layout_window {
  position: relative;
  display: flex;
}

.contacts-our_name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 50px;
  color: #292d32;
  padding: 100px 0 18px 100px;
}

.contacts-our_expl {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #838383;
  padding-left: 100px;
}

.contacts-info_name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #838383;
}

.contacts-info_expl {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  color: #292d32;
  max-width: 373px;
}

.contact-phone {
  display: flex;
  padding-left: 102px;
  padding-top: 72px;
}

/* .contacts-icons {
  display: flex;
  padding-left: 101px;
  padding-top: 48px;
} */
.contacts-adres {
  display: flex;
  padding-left: 101px;
  padding-top: 48px;
}

.contacts-email {
  display: flex;
  padding-left: 102px;
  padding-top: 47px;
}

.contacts-icon {
  padding-right: 18px;
}

.contacts-info_adres .contacts-info_expl {
  padding-top: 7px;
}
.contacts-info_adres .contacts-info_name {
  padding-top: 6px;
}

.contacts-info_phone .contacts-info_expl {
  padding-top: 0px;
}
.contacts-info_phone .contacts-info_expl:nth-child(2) {
  padding-top: 7px;
}
.contacts-info_phone .contacts-info_name {
  padding-top: 6px;
}

.contacts-info_email .contacts-info_expl {
  padding-top: 8px;
}
.contacts-info_email .contacts-info_name {
  padding-top: 3px;
}

.contacts-icons {
  /* padding-top: 60px;
  margin-left: 2px; */
  width: 93.71px;
  /*  display: flex; */
  justify-content: space-between;
  display: flex;
  padding-left: 103px;
  padding-top: 60px;
}

.contacts-request {
  background: #292d32;
  border-radius: 0px 20px 20px 0px;
}

.contacts-request_name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 50px;
  color: #ffffff;
  padding: 100px 185px 17px 129px;
}

.contacts-request_expl {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */
  color: #ffffff;
  padding: 0px 0px 54px 129px;
}

.contacts-phone {
  position: absolute;
  top: 142px;
  left: 492px;
}

.contacts-form {
  max-width: 444px;
  margin: 0 auto;
}

.contacts-input_name {
  background-image: url("/task/assets/imgs/Group 1182 (2).png");
  background-repeat: no-repeat;
  height: 75px;
  padding-bottom: 37px;
}
.contacts-input_name input {
  margin-top: 25px;
  margin-left: 6px;
  font-size: 30px;
  width: 95%;
  height: 41px;
  border-radius: 45px;
  font-weight: bold;
  background-color: #292d32;
  /* background-color: white; */
  outline: none;
  border: none;
  color: white;
}

.contacts-input_number {
  background-image: url("/task/assets/imgs/Group 1183 (2).png");
  background-repeat: no-repeat;
  height: 75px;
  padding-bottom: 37px;
}
.contacts-input_number input {
  margin-top: 25px;
  margin-left: 6px;
  font-size: 30px;
  width: 95%;
  height: 41px;
  border-radius: 45px;
  font-weight: bold;
  background-color: #292d32;
  /* background-color: white; */
  outline: none;
  border: none;
  color: white;
}

.contacts-input_text {
  background-image: url("/task/assets/imgs/Group 1184 (2).png");
  background-repeat: no-repeat;
  height: 160px;
  padding-bottom: 54px;
}
.contacts-input_text textarea {
  margin-top: 25px;
  margin-left: 5px;
  font-size: 30px;
  width: 95%;
  height: 126px;
  border-radius: 15px;
  font-weight: bold;
  background-color: #292d32;
  /* background-color: white; */
  outline: none;
  border: none;
  color: white;
}

.contacts-layout_window .show {
  padding-left: 130px;
}
.contacts-layout_window .show .button-text {
  /*   padding-top: 2px; */
  color: white;
}

.phoneSmall {
  display: none;
}

.phoneBig {
  display: block;
}

@media (max-width: 1800px) {
  .contacts-layout {
    position: relative;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
  }
  .wrapper-contacts_white {
    display: none;
  }
  .wrapper-contacts_gray {
    display: none;
  }
  .wrapper-contact {
    padding-top: 20px;
  }
  .contacts-request {
    /* margin-right: 17%; */
  }
}
@media (max-width: 1800px) {
  .contacts-layout_window {
    display: block;
  }
  .contacts-request {
    padding-bottom: 57px;
  }
  .phoneSmall {
    display: block;
  }
  .contacts-phone {
    top: 638px;
    left: 470px;
  }
  .phoneBig {
    /*  top: 200px; */
    display: none;
  }
}
@media (max-width: 720px) {
  .contacts-our,
  .contacts-request {
    border-radius: 0 0 0 0;
  }
  .contacts-phone {
    top: 411px;
    left: 175px;
  }
  .contacts-our {
    padding-right: 0px;
    padding-bottom: 56px;
  }
  .contacts-our_name {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    /* identical to box height, or 167% */
    padding-top: 101px;
    padding-bottom: 16px;
    /* padding: 100px 0 18px 30px; */
    color: #292D32;
  }
  .contacts-our_expl {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    /* or 22px */
    /*  padding: 10px 0 18px 30px; */
    color: #838383;
    max-width: 230px;
  }
  .contacts-adres,
  .contacts-email,
  .contact-phone,
  .contacts-our_expl,
  .contacts-our_name,
  .contacts-icons,
  .contacts-request_name,
  .contacts-request_expl {
    padding-left: 30px;
  }
  .contacts-form {
    margin-left: 30px;
  }
  .contacts-layout_window .show {
    padding-left: 30px;
  }
  .contacts-input_number,
  .contacts-input_name,
  .contacts-input_text {
    max-width: 316px;
    background-size: 100%;
  }
  .contacts-input_name {
    padding-bottom: 4px;
  }
  .contacts-input_number input {
    margin-top: 19px;
    width: 96%;
    height: 26px;
    font-size: 15px;
  }
  .contacts-input_name input {
    margin-top: 19px;
    width: 96%;
    height: 26px;
    font-size: 15px;
  }
  .contacts-input_text textarea {
    margin-top: 19px;
    width: 96%;
    height: 66px;
    font-size: 15px;
  }
  .contacts-info_name {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 133.69%;
    /* identical to box height, or 20px */
    color: #838383;
  }
  .contacts-info_expl {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    /* or 27px */
    color: #292D32;
  }
  .contacts-request_name {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    color: #FFFFFF;
    padding-top: 60px;
    padding-bottom: 16px;
    /*  max-width: 200px; */
    padding-right: 113px;
  }
  .contacts-request_expl {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    padding-bottom: 40px;
    /* identical to box height, or 22px */
    color: #FFFFFF;
  }
  .contacts-icon img {
    width: 18.73px;
    height: 18.73px;
  }
  .contacts-adres {
    padding-top: 40px;
  }
  .contacts-icon {
    padding-right: 10px;
  }
  .contacts-info_adres .contacts-info_name {
    padding-top: 0px;
  }
  .contacts-info_adres .contacts-info_expl {
    padding-top: 0px;
  }
  .contacts-info_expl {
    max-width: 260px;
  }
  .contacts-email {
    padding-top: 29px;
  }
  .contacts-info_email .contacts-info_expl {
    padding-top: 0px;
  }
  .contact-phone {
    padding-top: 25px;
  }
  .contacts-info_phone .contacts-info_name {
    padding-top: 3px;
  }
  .contacts-info_phone .contacts-info_expl:nth-child(2) {
    padding-top: 0px;
  }
  .contacts-input_number {
    padding-bottom: 6px;
  }
  .contacts-icons {
    padding-top: 30px;
    width: 64.71px;
  }
  .icon-face img,
  .icon-vibe img {
    width: 26.16px;
    height: 26.16px;
  }
  .contacts-input_name {
    background-image: url("/task/assets/imgs/Group 1182 (3).png");
  }
  .contacts-input_number {
    background-image: url("/task/assets/imgs/Group 1183 (3).png");
  }
  .contacts-input_text {
    height: auto;
    padding-bottom: 31px;
    background-image: url("/task/assets/imgs/Group 1184 (3).png");
  }
}
.footer-wrapper {
  position: relative;
  overflow: hidden;
}

.footer-info {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
  padding-top: 61px;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 49px;
  overflow: hidden;
}

.footer-layout {
  display: flex;
  width: 64.9%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-cabinet ul li,
.footer-help ul li,
.footer-catalog ul li {
  list-style: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #292d32;
  padding-bottom: 10px;
}

.footer-catalog_name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 29px;
  color: #292d32;
  padding-bottom: 15px;
}

.footer-text {
  position: absolute;
  font-family: "Rubik Mono One";
  font-style: normal;
  font-weight: 400;
  font-size: 187px;
  line-height: 173px;
  text-transform: uppercase;
  background: linear-gradient(180deg, #f2f2f2 0%, rgba(242, 242, 242, 0) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  opacity: 0.7;
  right: -36px;
  top: 135px;
}

.logo-footer {
  padding-top: 29px;
  padding-right: 190px;
}

.footer-contacts {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 38px;
}
.footer-contacts .contacts-icons {
  padding-top: 0px;
  margin-left: 0px;
  padding-left: 0px;
}

.footer-contacts_name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 133.69%;
  color: #838383;
  padding-bottom: 14px;
}

.footer-contacts_expl {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #292d32;
}

.real_ul {
  display: block;
}

.double_ul {
  display: none;
}

@media (max-width: 620px) {
  .real_ul {
    display: none;
  }
  .double_ul {
    display: flex;
    width: 247px;
    justify-content: space-between;
  }
  .double_ul .double_ul_li1 {
    width: 113px;
  }
}
@media (max-width: 1500px) {
  .footer-info {
    padding: 100px 15px 0 15px;
  }
}
@media (max-width: 1100px) {
  .footer-info {
    padding: 0px;
  }
  .footer-wrapper {
    background: #f2f2f2;
  }
  .double_ul_li2 {
    padding-top: 4px;
  }
  .footer-contacts {
    display: block;
  }
  .logo-footer {
    position: absolute;
    padding-right: 0px;
    left: 152px;
  }
  .logo-footer img {
    width: 70px;
    height: 71.29px;
  }
  .footer-info {
    padding-bottom: 20px;
  }
  .footer-text {
    font-family: "Rubik Mono One";
    font-style: normal;
    font-weight: 400;
    font-size: 78px;
    line-height: 92.69%;
    text-transform: uppercase;
    background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    opacity: 0.7;
    top: auto;
    right: 16px;
    bottom: 15px;
  }
  .footer-layout {
    padding-top: 130px;
    padding-left: 16px;
    width: 86%;
  }
  .footer-catalog {
    order: 3;
  }
  .footer-cabinet {
    order: 2;
  }
  .footer-help {
    order: 1;
  }
  .footer-catalog_name {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: right;
    color: #292d32;
    text-align: start;
    padding-bottom: 14px;
  }
  .footer-cabinet ul li,
  .footer-help ul li,
  .footer-catalog ul li {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #292d32;
  }
  .footer-cabinet {
    margin-bottom: 21px;
  }
  .footer-catalog .footer-catalog_name {
    padding-bottom: 14px;
  }
  .footer-catalog ul li {
    padding-bottom: 11px;
    line-height: 15px;
  }
  .footer-contacts {
    padding-top: 30px;
    padding-left: 15px;
    padding-bottom: 25px;
  }
  .footer-contacts_name {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 133.69%;
    padding-bottom: 2px;
    color: #838383;
  }
  .footer-contacts_expl {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    padding-bottom: 20px;
    color: #292d32;
  }
  .footer-contacts .contacts-icons {
    padding-top: 7px;
    margin-left: 2px;
    padding-left: 0px;
    width: 90.18px;
  }
  .footer-contacts .contacts-icons img {
    width: 30.18px;
    height: 30.18px;
  }
}

/*# sourceMappingURL=style.css.map */
