* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.wrapper {
  margin: 0 auto;
  max-width: 1920px;
}

.wrapper-header {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 27px 0 22px 0;
  max-width: 1400px;
}

.header-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  padding-right: 60px;
}

.header-nav {
  padding-right: 48px;
  width: 536px;
}
.header-nav ul {
  padding-bottom: 3px;
  display: flex;
  justify-content: space-between;
}
.header-nav ul li {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 17.58px;
  text-transform: uppercase;
  color: #292d32;
  list-style: none;
}

.header-sprite {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 286px;
  align-items: center;
}
.header-sprite_icon {
  height: 55px;
}

.basket-count {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  position: absolute;
  width: 16px;
  height: 16px;
  background: #48a4eb;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  color: white;
  right: 0;
  top: 9px;
}

.wrapper-preview {
  background-color: #ffffff;
  display: flex;
  justify-content: end;
}

.preview-review {
  background: #f2f2f2;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: end;
}

.review-container {
  max-width: 920px;
  display: flex;
  justify-content: space-between;
}

.preview-scroll {
  padding-right: 104px;
  padding-top: 25.4%;
  text-align: center;
  width: 26px;
}

.preview-price {
  background-image: url("/task/assets/imgs/image 23.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 692px;
  background-color: #f9f9f9;
  height: 100%;
  /* height: 684px; */
  /* padding-bottom:63px; */
}

.preview-dell {
  position: absolute;
  background-image: url("/task/assets/icons/Dell.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 767px;
  height: 234px;
  top: 14.4%;
  left: 18.45%;
}

.preview-scroll_text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 23px;
  color: #838383;
  writing-mode: tb-rl;
  transform: rotate(180deg);
  padding-top: 16px;
}

.goods-describe {
  z-index: 9;
  padding-top: 253px;
  padding-right: 8px;
}

.new-goods {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  color: #838383;
  padding-bottom: 15px;
}

.text-view {
  max-width: 396px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 59px;
  margin-bottom: 60px;
  color: #292d32;
}

.show {
  display: flex;
  align-items: center;
}

.show_button {
  margin-right: 12px;
}

.button-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #292d32;
}

.slider {
  z-index: 9;
  padding-top: 74px;
  padding-bottom: 50px;
}

.slider-imgs {
  padding-right: 60px;
}

.slider-dots {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 69px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9px;
  padding-right: 40px;
  right: 0;
  top: 74%;
}

.dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #d0d0d0;
}

.current-dot {
  width: 9px;
  height: 9px;
  background: #292d32;
}

.preview-price_container {
  padding: 321px 0 64px 40px;
  max-width: 181px;
  margin-bottom: 95px;
}

.preview-price_text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 32px;
  color: #292D32;
  margin-bottom: 81px;
}

.wrapper-goods {
  max-width: 1400px;
  padding-top: 163px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-goods {
  width: 440px;
  background: #f2f2f2;
  border-radius: 20px;
  margin-bottom: 40px;
}

.card-goods:nth-child(2n+1) {
  background: #f9f9f9;
}

.card-goods:nth-child(1) {
  background-color: white;
}

.goods-img {
  display: flex;
  padding-left: 40px;
  padding-top: 40px;
  position: relative;
}

.goods_icon {
  position: absolute;
}

.goods_icon_lap {
  top: -10px;
  right: 13px;
}

.goods-info {
  padding-left: 40px;
  padding-bottom: 40px;
}

.goods-info_lap,
.goods-info_comp,
.goods-info_serv,
.goods-info_dell,
.goods-info_EMC {
  padding-top: 186px;
}

.goods_icon_comp {
  top: -21px;
  right: 41px;
}

.goods-icon_serv {
  top: 81px;
  right: 27px;
}

.goods-icon_dell {
  top: 59px;
  right: 57px;
}

.goods-icon_EMC {
  top: 38px;
  right: 30px;
}

.card-name_review {
  max-width: 388px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 50px;
  color: #292d32;
  padding-bottom: 30px;
}

.card-name_describe {
  max-width: 368px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  color: #838383;
  padding-bottom: 45px;
}

.count_goods {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  font-size: 25px;
  line-height: 38px;
  color: #292d32;
}

.goods-amout {
  padding-bottom: 5px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  color: #838383;
}

.goods-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 38px;
  color: #292d32;
}

/*# sourceMappingURL=style.css.map */
