.wrapper-preview {
  background-color: #ffffff;
  display: flex;
  justify-content: end;
}

.preview-review {
  background: #f2f2f2;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: end;
}

.review-container {
  max-width: 920px;
  display: flex;
  justify-content: space-between;
}

.preview-scroll {
  padding-right: 104px;
  padding-top: 25.4%;
  text-align: center;
  width: 26px;
}

.preview-price {
  background-image: url("/task/assets/imgs/image 23.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 692px;
  background-color: #f9f9f9;
  height:100%;
  /* height: 684px; */
  /* padding-bottom:63px; */
}

.preview-dell {
  position: absolute;
  background-image: url("/task/assets/icons/Dell.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 767px;
  height: 234px;
  top: 14.4%;
  left: 18.45%;
}

.preview-scroll_text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 23px;
  color: #838383;
  writing-mode: tb-rl;
  transform: rotate(180deg);
  padding-top: 16px;
}

.goods-describe {
  z-index: 9;
  padding-top: 253px;
  padding-right: 8px;
}

.new-goods {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  color: #838383;
  padding-bottom: 15px;
}

.text-view {
  max-width: 396px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 59px;

  color: #292d32;
}

.view-goods {
  margin-top: 60px;
  display: flex;
  align-items: center;
}

.view-goods_button {
  margin-right: 12px;
}

.button-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #292d32;
}
.slider {
  z-index: 9;
  padding-top: 74px;
  padding-bottom: 50px;
}

.slider-imgs {
  padding-right: 60px;
}

.slider-dots {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 69px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9px;
  padding-right: 40px;
  right: 0;
  top: 74%;
}

.dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #d0d0d0;
}

.current-dot {
  width: 9px;
  height: 9px;
  background: #292d32;
}

.preview-price_container{
    padding: 321px 0 64px 40px;
    max-width: 181px;
    margin-bottom: 95px;
}

.preview-price_text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;
    color: #292D32;
    margin-bottom: 81px;
}