*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}


.wrapper{
    margin: 0 auto;
    max-width: 1920px;
}
@import "./main/news";
@import "./header/header";
@import "./main/preview";
@import "./main/goods";
@import "./main/describes";



